
.moda-cabecalho {
    background-color: #BB86FC;
    color: #FFFFFF;
}

.valores-moda {
    background-color: #424250;
    color: #FFFFFF;
}

.casa-cabecalho {
    background-color: #00C4B4;
    color: #FFFFFF;
}

.valores-casa {
    background-color: #424250;
    color: #FFFFFF;
}