body {
    margin: 0;
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
}

.primeira-secao {
    background-color: red;
}

.segunda-secao {
    background-color: black;
}

.terceira-secao {
    background-color: blue;
}

/* h1 {
    font-size: 20vh;
}

div {
    text-align: center;
} */

/* body {
    margin: 0;
    width: 300px;
}

.primeiro-elemento {
    width: 100vw;
    background-color: aquamarine;
}

.segundo-elemento {
    width: 100%;
    background-color: blueviolet;
} */