html {
    background-color: #E5E5E5;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-image: url(../imagens/bg-repeat.jpg);
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.container .duvida {
    width: 300px;
    height: 111px;
    margin-right: 40px;
    margin-left: 60px;
    color: #fff;
}

.container .duvida h2 {
    font-size: 2rem;
    font-weight: 900;
}

.container .duvida p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}

.container form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #000000;
    padding-left: 16px;
    font-size: 1.5rem;
    width: 340px;
    background-color: #fff;
    padding: 0 0 10px 20px;
}

.container .inputs {
    width: 298px;
    height: 35px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 15px;
    font-size: 1.5rem;
    margin-top: 1.6rem;
}

input:first-child {
    margin-top: 5px;
}

.container textarea {
    width: 298px;
    resize: none;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 15px;
    font-size: 1.5rem;
    margin-top: 15px;
}

.container  h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.container .erro{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(245, 46, 46, 1);
}

.container  .btn{
    border: none;
    color: #fff;
    background-color: #3CCC87;
    width: 298px;
    height: 41px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 16px 0 0 0;
}

.container .esconder{
    display: none;
}

.bordaVermelha{
    border-color: rgba(245, 46, 46, 1) !important;
}

.bordaVerde{
    border-color: rgba(0, 194, 43, 1) !important;
}