* {
    margin: 0;
    padding: 0;
}

ul {
    /* list-style-image: url('./images/corrigir.png'); */
    background-color: orange;
    list-style: square inside url('./images/corrigir.png');
}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol {
    /* list-style-image: url('./images/corrigir.png'); */
    background-color: paleturquoise;
    list-style: square inside url('./images/corrigir.png');
}

ol li {
    border: 1px solid black;
    padding: 20px;
}